<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <title>Url shortner</title>
  </head>
  <body>
    <h1>Url Shortner</h1>
    <form action="/createshort" method="POST">
      <label>Enter url</label>
      <input type="url" name="fullurl" />
      <button type="submit">Generate</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Full Url</th>
          <th>Short Url</th>
          <th>Click counts</th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach(url =>{ %>
        <tr>
          <td><a href="<%= url.fullurl %>"><%= url.fullurl %></a></td>
          <td><a href="<%= url.short %>"><%= url.short %></a></td>
          <td><%= url.clicks %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
